module golang.zx2c4.com/wireguard/windows

go 1.15

require (
	github.com/lxn/walk latest
	github.com/lxn/win latest
	golang.org/x/crypto latest
	golang.org/x/net latest
	golang.org/x/sys latest
	golang.org/x/text master
	golang.zx2c4.com/wireguard master
)

replace (
	github.com/lxn/walk => golang.zx2c4.com/wireguard/windows pkg/walk
	github.com/lxn/win => golang.zx2c4.com/wireguard/windows pkg/walk-win
)
