/* SPDX-License-Identifier: MIT
 *
 * Copyright (C) 2019 WireGuard LLC. All Rights Reserved.
 */

#include <windows.h>
#include "version/version.h"

#pragma code_page(65001) // UTF-8

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST manifest.xml
$wireguard.ico ICON ui/icon/wireguard.ico
dot-gray.ico ICON ui/icon/dot-gray.ico

#define VERSIONINFO_TEMPLATE(block_id, lang_id, codepage_id, file_desc, comments) \
VS_VERSION_INFO VERSIONINFO \
FILEVERSION    WIREGUARD_WINDOWS_VERSION_ARRAY \
PRODUCTVERSION WIREGUARD_WINDOWS_VERSION_ARRAY \
FILEOS         VOS_NT_WINDOWS32 \
FILETYPE       VFT_APP \
FILESUBTYPE    VFT2_UNKNOWN \
BEGIN \
  BLOCK "StringFileInfo" \
  BEGIN \
    BLOCK block_id \
    BEGIN \
      VALUE "CompanyName", "WireGuard LLC" \
      VALUE "FileDescription", file_desc \
      VALUE "FileVersion", WIREGUARD_WINDOWS_VERSION_STRING \
      VALUE "InternalName", "wireguard-windows" \
      VALUE "LegalCopyright", "Copyright © 2015-2020 Jason A. Donenfeld <Jason@zx2c4.com>. All Rights Reserved." \
      VALUE "OriginalFilename", "wireguard.exe" \
      VALUE "ProductName", "WireGuard" \
      VALUE "ProductVersion", WIREGUARD_WINDOWS_VERSION_STRING \
      VALUE "Comments", comments \
    END \
  END \
  BLOCK "VarFileInfo" \
  BEGIN \
    VALUE "Translation", lang_id, codepage_id \
  END \
END

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "040904b0", 0x409, 0x4b0,
  "WireGuard: Fast, Modern, Secure VPN Tunnel",
  "https://www.wireguard.com/"
)

LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "040c04b0", 0x40c, 0x4b0,
  "WireGuard: tunnel VPN rapide, moderne, sécurisé",
  "https://www.wireguard.com/"
)

LANGUAGE LANG_ITALIAN, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "041004b0", 0x410, 0x4b0,
  "WireGuard: Tunnel VPN veloce, moderno e sicuro",
  "https://www.wireguard.com/"
)

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "041104b0", 0x411, 0x4b0,
  "WireGuard: 高速で、現代的で、セキュアな VPN トンネル",
  "https://www.wireguard.com/"
)

LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT
VERSIONINFO_TEMPLATE(
  "042404b0", 0x424, 0x4b0,
  "WireGuard: hiter, sodoben, varen tunel VPN",
  "https://www.wireguard.com/"
)
